In [1]:
import pandas as pd
import requests

In [2]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=3a3cd55a4409c9b237d907a2cf197b18&language=en-US&page=1')

In [3]:
#response.json()

In [4]:
df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [5]:
dataf = pd.DataFrame()
dataf

Empty DataFrame
Columns: []
Index: []

In [6]:
for i in range(1,429):
    response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=3a3cd55a4409c9b237d907a2cf197b18&language=en-US&page={}'.format(i))
    df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    dataf=pd.concat([dataf,df],ignore_index=True)

In [7]:
dataf

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,128.416,8.7,18452
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,119.262,8.7,24382
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,78.846,8.6,11148
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,54.214,8.6,14424
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,29.488,8.6,4225
...,...,...,...,...,...,...,...
8555,524247,The Intruder,A psychological thriller about a young married...,2019-05-03,17.722,6.0,522
8556,295832,Unique Brothers,"A funny story about two brothers, Pietro and F...",2014-10-02,7.350,6.0,285
8557,59457,Womb,A woman's consuming love forces her to bear th...,2010-07-15,9.516,6.0,321
8558,9910,Two for the Money,A former college athlete joins forces with a s...,2005-10-07,7.911,6.0,557
8559,864873,Hypnotic,A young woman seeking self-improvement enlists...,2021-10-27,19.706,6.0,540

In [8]:
dataf.shape

(8560, 7)

In [9]:
dataf.to_csv('Movies_Test.csv')

# rapidapi.com